.fb3d .manual a {
  color: #f00;
  text-decoration: underline;
}

.fb3d .manual a:hover {
  color: #0073aa;
  text-decoration: underline;
}

.fb3d>.tabs {

}

.fb3d .clearfix::after, .fb3d.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.fb3d .left, .fb3d .right {
  float: left;
  width: 50%;
}

.padding-top {
  padding-top: 15px;
}

.fb3d .left {
  text-align: left;
}

.fb3d .right {
  text-align: right;
}

.fb3d>.tabs .content>div {
  display: none;
}
.fb3d>.tabs>.content>.active {
  display: block;
}

.fb3d>.tabs .nav {
  font-size: 0;
  border-bottom: 1px solid #ccc;
}
.fb3d>.tabs .nav li a {
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
}
.fb3d>.tabs .nav li {
  display: inline-block;
  margin: 0;
}
.fb3d>.tabs .nav li:hover {
  background-color: #eee;
  border-radius: 5px 5px 0px 0px;
}

.fb3d>.tabs .nav .disabled a {
  color: gray;
  cursor: default;
}

.fb3d>.tabs .nav .disabled:hover {
  background-color: #fff;
}

.fb3d>.tabs .nav .active {
  border: 1px solid #ccc;
  border-bottom: 0;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.fb3d>.tabs .nav .active::after {
  content: ' ';
  position: absolute;
  width: 100%;
  bottom: -1px;
  height: 1px;
  background-color: #fff;
  display: block;
}

.fb3d>.tabs .nav .active a {
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  cursor: default;
}

.fb3d #poststuff .tab h2 {
  font-size: 23px;
  padding: 0;
}

.fb3d .loading {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #ffe4e1;
}

.fb3d .color-prop {
  position: relative;
}

.fb3d .color-container {
  z-index: 10;
  position: absolute;
	top: 100%;
	right: 0;
	display: none;
}

.fb3d .prop-caption {
  position: relative;
  display: inline-block;
}

.fb3d .prop-caption>h2 {
  margin-bottom: 0;
  font-size: 1.3em !important;
  padding: 0 !important;
  font-weight: 600;
}

.fb3d .h2-description {
  margin-bottom: 15px;
}

.fb3d .description, .fb3d .h2-description {
  color: #777;
}

.fb3d .input-group .form-control {
  /*height: 33px;*/
}

.fb3d .text-right {
  text-align: right;
}
.fb3d .text-center {
  text-align: center;
}


.fb3d .meta-header {
  margin-bottom: 10px;
  font-weight: 900;
  text-align: center;
}

.fb3d .form-group {
  margin-bottom: 25px;
}
.fb3d label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.fb3d textarea.form-control {
  height: 100px;
}

.fb3d .form-control {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fb3d .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.fb3d .input-group input, .fb3d .input-group select {
  margin: 0;
}

.fb3d div.input-group-addon {
  width: 100px;
}

.fb3d .input-group-addon:first-child {
  border-right: 0;
}

.fb3d .input-group .form-control:first-child, .fb3d .input-group-addon:first-child, .fb3d .input-group-btn:first-child>.btn, .fb3d .input-group-btn:first-child>.btn-group>.btn, .fb3d .input-group-btn:first-child>.dropdown-toggle, .fb3d .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .fb3d .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.fb3d .input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fb3d .input-group-addon, .fb3d .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.fb3d .input-group .form-control, .fb3d .input-group-addon, .fb3d .input-group-btn {
  display: table-cell;
}

.fb3d .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.fb3d a {
  color: #337ab7;
  text-decoration: none;
}

.fb3d .input-group .form-control:not(:first-child):not(:last-child), .fb3d .input-group-addon:not(:first-child):not(:last-child), .fb3d .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.fb3d .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
}

.fb3d .input-group-addon:last-child {
  border-left: 0;
}
.fb3d .input-group-btn:last-child>.btn, .fb3d .input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
}
.fb3d .input-group .form-control:last-child, .fb3d .input-group-addon:last-child, .fb3d .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .fb3d .input-group-btn:first-child>.btn:not(:first-child), .fb3d .input-group-btn:last-child>.btn, .fb3d .input-group-btn:last-child>.btn-group>.btn, .fb3d .input-group-btn:last-child>.dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fb3d .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.fb3d .btn:active,
.fb3d .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.fb3d .btn-default {
  color: #333;
  background-color: #eee;
  border-color: #ccc;
}
.fb3d .btn-default:focus,
.fb3d .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.fb3d .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.fb3d .btn-default:active,
.fb3d .btn-default.active,
.fb3d .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.fb3d .btn-default:active:hover,
.fb3d .btn-default.active:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.fb3d a.btn.disabled, .fb3d fieldset[disabled] a.btn {
  pointer-events: none;
}
.fb3d .btn-default.disabled, .fb3d .btn-default.disabled.active, .fb3d .btn-default.disabled.focus, .fb3d .btn-default.disabled:active, .fb3d .btn-default.disabled:focus, .fb3d .btn-default.disabled:hover, .fb3d .btn-default[disabled], .fb3d .btn-default[disabled].active, .fb3d .btn-default[disabled].focus, .fb3d .btn-default[disabled]:active, .fb3d .btn-default[disabled]:focus, .fb3d .btn-default[disabled]:hover, .fb3d fieldset[disabled] .btn-default, .fb3d fieldset[disabled] .btn-default.active, .fb3d fieldset[disabled] .btn-default.focus, .fb3d fieldset[disabled] .btn-default:active, .fb3d fieldset[disabled] .btn-default:focus, .fb3d fieldset[disabled] .btn-default:hover {
  background-color: #e0e0e0;
  background-image: none;
}

.fb3d .btn-danger.disabled, .fb3d .btn-danger[disabled], .fb3d .btn-default.disabled, .fb3d .btn-default[disabled], .fb3d .btn-info.disabled, .fb3d .btn-info[disabled], .fb3d .btn-primary.disabled, .fb3d .btn-primary[disabled], .fb3d .btn-success.disabled, .fb3d .btn-success[disabled], .fb3d .btn-warning.disabled, .fb3d .btn-warning[disabled], .fb3d fieldset[disabled] .btn-danger, .fb3d fieldset[disabled] .btn-default, .fb3d fieldset[disabled] .btn-info, .fb3d fieldset[disabled] .btn-primary, .fb3d fieldset[disabled] .btn-success, .fb3d fieldset[disabled] .btn-warning {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fb3d .btn.disabled, .fb3d .btn[disabled], .fb3d fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.fb3d .checkbox, .radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fb3d .checkbox label, .fb3d .radio label {
  min-height: 20px;
  /*padding-left: 20px;*/
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.fb3d .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fb3d .notice-warning {
  background-color: #fcf8e3;
}

.fb3d .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.fb3d .alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.fb3d .alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
}

.fb3d .alert-danger {
  background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
  background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
  background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

.fb3d .alert-info {
  background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
  background-image: -o-linear-gradient(top,#d9edf7 0,#b9def0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d9edf7),to(#b9def0));
  background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}

.fb3d .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.fb3d .pagination > li {
  display: inline;
}
.fb3d .pagination > li > a,
.fb3d .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.fb3d .pagination > li:first-child > a,
.fb3d .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fb3d .pagination > li:last-child > a,
.fb3d .pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fb3d .pagination > li > a:hover,
.fb3d .pagination > li > span:hover,
.fb3d .pagination > li > a:focus,
.fb3d .pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.fb3d .pagination > .active > a,
.fb3d .pagination > .active > span,
.fb3d .pagination > .active > a:hover,
.fb3d .pagination > .active > span:hover,
.fb3d .pagination > .active > a:focus,
.fb3d .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.fb3d .pagination > .disabled > span,
.fb3d .pagination > .disabled > span:hover,
.fb3d .pagination > .disabled > span:focus,
.fb3d .pagination > .disabled > a,
.fb3d .pagination > .disabled > a:hover,
.fb3d .pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.fb3d .pagination-lg > li > a,
.fb3d .pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.fb3d .pagination-lg > li:first-child > a,
.fb3d .pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.fb3d .pagination-lg > li:last-child > a,
.fb3d .pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.fb3d .pagination-sm > li > a,
.fb3d .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.fb3d .pagination-sm > li:first-child > a,
.fb3d .pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.fb3d .pagination-sm > li:last-child > a,
.fb3d .pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fb3d .hidden {
  display: none;
}
